
```{=html}


<div class="list grid" style="column-gap: 10px;">
    <% for (const item of items) { %>

  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text inline-block">
        <a href="<%- item.outputHref %>" class="listing-title"><%= item.title %></a>
        <% if (item.code) { %> 
        <a href="<%- item.code %>" title="View source code" 
          class="source-code card-text float-end inline-block">
          <i class="bi-code-slash"></i>
        </a>
        <% } %>
        <span class="text-muted listing-subtitle"><%= item.subtitle %></span>
      </small>
    </div>

	<!-- <%- JSON.stringify(item) %> -->

	<% if (item.thumbnail) { %> 
      <img src="<%- item.thumbnail %>" alt="<%- item.description %>" class="card-img-top"/>
	<% }else{ %>
		<small class="card-text inline-block px-2 py-1"><%= item.description %></small>
	<% } %>
    
    <% if (item.publicationdate) { %> 
      <b class="listing-publicationdate"><%= item.publicationdate %></b>
    <% } %>
    
  </div>
  <% } %>
</div>


```